name: Test package

on:
  pull_request:
  push:
    branches: [main]

jobs:

  test-code:
    # This code depends on the result of check-code
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/fenics/dolfinx/dolfinx:v0.9.0


    steps:
      - uses: actions/checkout@v5

      - name: Install package
        run: |
          python3 -m pip install -r https://raw.githubusercontent.com/scientificcomputing/scifem/refs/heads/main/build-requirements.txt
          python3 -m pip install scifem --no-build-isolation
          python3 -m pip install -e .[test]

      - name: Run tests
        run: python3 -m pytest --cov=beat --cov-report=html --cov-report=term-missing -v

      - name: Coverage report
        if: github.ref == 'refs/heads/main'
        run: |
          python3 -m coverage report | sed 's/^/    /' >> $GITHUB_STEP_SUMMARY
          python3 -m coverage json
          export TOTAL=$(python3 -c "import json;print(json.load(open('coverage.json'))['totals']['percent_covered_display'])")
          echo "total=$TOTAL" >> $GITHUB_ENV

      - name: Upload HTML report.
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-artifact@v5
        with:
          name: html-report
          path: htmlcov
